:root {
    --primary-color: #302ae6;
    --secondary-color: #536390;
    --font-secondary-color: #002B52;
    --font-color: #434a54;
    --font-shadow: 0 0 5px #434a54;
    /* --bg-color: #E1E5EB; */
    --bg-color: #F5F6FA;
    /* --menu-bg-color: #B3BDCC; */
    --menu-bg-color: #F5F6FA;
    --heading-color: #292922;

    /*  CHARTS COLOR */
    --chart-bg-color: #FFF;
    --chart-box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.71);
    --hr-color: #343e59;

    /* CARDS */
    --card-bg-color: #FFF;
    --card-box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.71);
    --card-title-font-color: #F5365C;
    --card-title-font-shadow: 0 0 5px rgba(245, 54, 92, 1);
    --terminal-font-color: #434a54;
    --link-bg-color: #63b3ed;
    --link-color: #63b3ed;
    --gradient-color-1: #50d38b;
    --gradient-color-2: #38b2ac;
    --gradient-color-3: #63b3ed;
    --transparent-bg: #E2E8F033;
    --info-box-bg: #FFFFFF;
    --card-border-color: #E2E8F033;
    --card-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

    /** Underline effect https://codepen.io/Ash/pen/WBMxpp*/
    --underline-intrinsic-width: 8;
    --underline-width: 12;
    --underline-color: #63b3ed;
    --underline-cap-width: 4px;
    --underline-offset-y: -2px;
    --underline-padding-x: 0.12em;
    --cap-image-left: url(https://files-d4s40otz1.now.sh/left.svg);
    --cap-image-right: url(https://files-4vvqilj8v.now.sh/right.svg);
}

[data-theme="dark"] {
    --primary-color: #9a97f3;
    --secondary-color: #818cab;
    --font-color: #CEDBED;
    --font-secondary-color: #a0aec0;
    --font-shadow: 0 0 5px #ffffff;
    --bg-color: #0A192A;
    --menu-bg-color: #17283F;
    --heading-color: #818cab;
    /*  CHARTS COLOR */
    --chart-bg-color: #002B52;
    --chart-box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.71);
    --hr-color: #343e59;
    --burger-color: #e1e1ff;
    /* CARDS */
    --card-bg-color: #002B52;
    --card-box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.3);
    --card-title-font-color: #F5365C;
    --card-title-font-shadow: 0 0 5px rgba(245, 54, 92, 1);
    --terminal-font-color: #a0aec0;
    --link-bg-color: #f39508;
    --link-color: #fe8c00;
    --gradient-color-1: #fe8c00;
    --gradient-color-2: #FC6601;
    --gradient-color-3: #f83600;
    --transparent-bg: #17192333;
    --info-box-bg: #171923;
    --card-border-color: #17192333;
    /* --card-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
    --card-box-shadow: 0 22px 35px -16px rgb(0 0 0 / 71%);

    /** Underline effect https://codepen.io/Ash/pen/WBMxpp*/
    --underline-intrinsic-width: 8;
    --underline-width: 12;
    --underline-color: #f39508;
    --underline-cap-width: 4px;
    --underline-offset-y: -2px;
    --underline-padding-x: 0.12em;
    --cap-image-left: url(https://files-d4s40otz1.now.sh/left.svg);
    --cap-image-right: url(https://files-4vvqilj8v.now.sh/right.svg);
}